body{
  background-color: #333;
  font-size: 2.5vmin;
  font-family: monospace;
  text-transform: lowercase;
  color: white;
} 

.container{
  max-height: 100vh;
  margin: 20px;
}

.container-opacity{
  opacity: 0.2;
}

#nextLevel{
  visibility: hidden;
}

.nextLevel{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  color: white;
  background: #FF8C00;
  border: none;
  border-radius: 10px;
  font-size: 2.5vmin;
  box-shadow: 0 2px #555;
}

.nextLevel:hover {background-color: #FFA500}

.nextLevel:active {
  background-color: #FFA500;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.info-container{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap:5px;
}

.level::before{
  content: "Level: ";
  text-transform: uppercase;
}
.timer::before{
  content: "Timer: ";
  text-transform: uppercase;
}
.letters::before{
  content: "Total letters: ";
  text-transform: uppercase;
}
.errors::before{
  content: "total errors: ";
  text-transform: uppercase;
}
.rate::before{
  content: "rate: ";
  text-transform: uppercase;
}
.rate::after{
  content: " /s";
}

.text-container{
  margin: 20px;
  margin-top: 5rem;
  padding: 10px;
  border: 1px solid #777 ;
  border-radius: 5rem;
  text-align: center;
}

.mainText{
  width: 100%;
  font-size: 2vmin;
  
}

.keyboard{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0%);
}

.row{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: 10px
}

.col{
  min-width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  padding:5px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.typed{
  border: 2px solid white;
  background-color: #555;
}

.incorrect{
  color: red;
}

.cursor{
  position: absolute;
  display: inline-block;
  width: 10px;
  border-bottom: 3px solid red ;
  animation: cursorEffect 1s infinite;
}

@keyframes cursorEffect {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}